---
---

@import "{{ site.theme }}";

/* Your custom styles below */
body {
  background-color: lavenderblush;
}

.page-header {
  background-color: mediumvioletred;
  color: white;
}

a {
  color: hotpink;
}
